div[class^="col-"] {
    padding-left: 2.5px !important;
    padding-right: 2.5px !important;
}

.row {
    margin-left: -2.5px !important;
    margin-right: -2.5px !important;
}

.m-form .m-form__group {
    padding-top: 7px;
    padding-bottom: 7px;
}

/* form validation custom ajax */
.has-danger label:not([class]), .has-danger label.col-form-label, .has-danger label.form-control-label {
    color: inherit;
}

.m-wizard__form-step  .product-category option {
    padding: 5px;
}

/* Crated by Iqbal */
/* override || change background color head datatable
.m-datatable>.m-datatable__table>.m-datatable__head .m-datatable__row>.m-datatable__cell, .m-datatable>.m-datatable__table>.m-datatable__foot .m-datatable__row>.m-datatable__cell {
	background: #212529 !important;
}
 override || change font color datatable
.m-datatable>.m-datatable__table>.m-datatable__head .m-datatable__row>.m-datatable__cell>span, .m-datatable>.m-datatable__table>.m-datatable__foot .m-datatable__row>.m-datatable__cell>span {
	color: white !important;
}
/* End */

.add-attribute-form .product-category option {
    padding: 5px;
}

.image-radio {
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 4px solid transparent;
    margin-bottom: 0;
    outline: 0;
}
.image-radio input[type="radio"] {
    display: none;
}
.image-radio-checked {
    border-color: #4783B0;
}
.image-radio .checked-icon {
    position: absolute;
    color: #4A79A3;
    background-color: #fff;
    padding: 5px;
    top: 5px;
    right: 10px;
}
.image-radio-checked .checked-icon {
    display: block !important;
}

input.disabled {
    border-color: #f4f5f8 !important;
    color: #6f727d;
    background-color: #f4f5f8 !important;
}

.dropzone .dz-error {
    border: 1px red dashed;
}

.chat-discussions {
    max-height: calc(100vh - 300px);
    margin-top: 10px;
}

.chat-discussions .room {
    cursor: pointer;
}

.chat-discussions .room.active {
    background: #efefef;
}

.chat-discussions .room-info {
    text-align: right;
    padding-right: 10px;
}

.room-info .chat-date {
    font-size:11px;
    display: block;
    width: 120px;
}

.m-badge.hidden {
    display: none;
}

.m-messenger__messages {
    height: calc(100vh - 410px);
}

.m-messenger .typing {
    font-style: italic;
    font-size: 10px;
}

.m-messenger__message-date {
    font-size: 10px;
    margin-left: 15px;
}

.room .m-badge--dot {
    margin-top: -5px;
}

.room .m-badge--dot.hidden {
    display: none;
}

.room .m-widget4__info {
	padding-right: 0 !important;
}

.room .m-widget4__title {
    float: left;
    margin-right: 3px;
}

.room .m-widget4__title.nowrap {
	width: 128px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.chat-time-status-read {

    padding-left: 15px;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSI2Ij48cGF0aCBkPSJNNy4xMyAwTDIuNjI2IDQuNTUuNTk4IDIuNDkzIDAgMy4xbDIuNjI1IDIuNjZMNy43MjcuNjA3ek01LjcxNSA0LjYybC0uMzg4LS40LS41OTkuNjA1Ljk4NyAxLjAwN0wxMC44MTYuNjc4bC0uNTk3LS42MDd6IiBmaWxsPSIjNDJCNTQ5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=) no-repeat  left center;
}

.chat-time-status-delivery {
    padding-left: 15px;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSI2Ij48cGF0aCBkPSJNNy4xMyAwTDIuNjI2IDQuNTUuNTk4IDIuNDkzIDAgMy4xbDIuNjI1IDIuNjZMNy43MjcuNjA3ek01LjcxNSA0LjYybC0uMzg4LS40LS41OTkuNjA1Ljk4NyAxLjAwN0wxMC44MTYuNjc4bC0uNTk3LS42MDd6IiBmaWxsPSIjOTk5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=) no-repeat  left center;
}

.m-messenger__message-pic.pic-relative {
    position: relative;
}

.pic-online-status {
    position: absolute;
    top: 36px;
    right: 11px;
    border: 2px solid #fff;
    height: 10px !important;
    width: 10px !important;
}

.m-messenger__message-no-pic .pic-online-status {
    top: 32px;
    right: 3px;
}

.m-messenger .m-scrollable, .chat-discussions.m-scrollable {
    overflow-y: scroll;
}


ul.avatars {
    display: flex ; /* Causes LI items to display in row. */
    list-style-type: none ;
    margin: auto ; /* Centers vertically / horizontally in flex container. */
    padding: 0px 7px 0px 0px ;
    z-index: 1 ; /* Sets up new stack-container. */
}

li.avatars__item {
    height: 49px ;
    margin: 0px 0px 0px 0px ;
    padding: 0px 0px 0px 0px ;
    position: relative ;
    width: 30px ; /* Forces flex items to be smaller than their contents. */
}

/*
    These zIndex values will only be relative to the contents of the UL element,
    which sets up its own stack container. As such, these will only be relevant
    to each other, not to the page at large.
    --
    NOTE: We could theoretically get around having to set explicit zIndex values
    by using "flex-direction: row-reverse" and using the natural stacking order
    of the DOM; however, to do that, we'd have to reverse the order of the HTML
    elements, which feels janky and unnatural.
*/
li.avatars__item:nth-child( 1 ) { z-index: 9 ; }
li.avatars__item:nth-child( 2 ) { z-index: 8 ; }
li.avatars__item:nth-child( 3 ) { z-index: 7 ; }
li.avatars__item:nth-child( 4 ) { z-index: 6 ; }
li.avatars__item:nth-child( 5 ) { z-index: 5 ; }
li.avatars__item:nth-child( 6 ) { z-index: 4 ; }
li.avatars__item:nth-child( 7 ) { z-index: 3 ; }
li.avatars__item:nth-child( 8 ) { z-index: 2 ; }
li.avatars__item:nth-child( 9 ) { z-index: 1 ; }

/*
    These items are all 49px wide while the flex-item (in which they live) is
    only 42px wide. As such, there will be several pixels of overflow content,
    which will be displayed in a reverse-stacking order based on above zIndex.
*/
img.avatars__img,
span.avatars__initials,
span.avatars__others {
    /*background-color: #596376 ;*/
    border: 1px solid #999 ;
    border-radius: 100px 100px 100px 100px ;
    color: #FFFFFF ;
    display: block ;
    font-family: sans-serif ;
    font-size: 12px ;
    font-weight: 100 ;
    height: 45px ;
    line-height: 45px ;
    text-align: center ;
    width: 45px ;
    max-width: none;
}

span.avatars__others {
    background-color: #1E8FE1 ;
}
