div[class^="col-"] {
    padding-left: 2.5px !important;
    padding-right: 2.5px !important;
}

.row {
    margin-left: -2.5px !important;
    margin-right: -2.5px !important;
}

.m-form .m-form__group {
    padding-top: 7px;
    padding-bottom: 7px;
}

/* form validation custom ajax */
.has-danger label:not([class]), .has-danger label.col-form-label, .has-danger label.form-control-label {
    color: inherit;
}

.m-wizard__form-step  .product-category option {
    padding: 5px;
}

/* Crated by Iqbal */
/* override || change background color head datatable
.m-datatable>.m-datatable__table>.m-datatable__head .m-datatable__row>.m-datatable__cell, .m-datatable>.m-datatable__table>.m-datatable__foot .m-datatable__row>.m-datatable__cell {
	background: #212529 !important;
}
 override || change font color datatable
.m-datatable>.m-datatable__table>.m-datatable__head .m-datatable__row>.m-datatable__cell>span, .m-datatable>.m-datatable__table>.m-datatable__foot .m-datatable__row>.m-datatable__cell>span {
	color: white !important;
}
/* End */

.add-attribute-form .product-category option {
    padding: 5px;
}

.image-radio {
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 4px solid transparent;
    margin-bottom: 0;
    outline: 0;
}
.image-radio input[type="radio"] {
    display: none;
}
.image-radio-checked {
    border-color: #4783B0;
}
.image-radio .checked-icon {
    position: absolute;
    color: #4A79A3;
    background-color: #fff;
    padding: 5px;
    top: 5px;
    right: 10px;
}
.image-radio-checked .checked-icon {
    display: block !important;
}

input.disabled {
    border-color: #f4f5f8 !important;
    color: #6f727d;
    background-color: #f4f5f8 !important;
}

.dropzone .dz-error {
    border: 1px red dashed;
}

.chat-discussions {
    height: calc(100vh - 300px);
    margin-top: 10px;
}

.chat-discussions .room {
    cursor: pointer;
}

.chat-discussions .room.active {
    background: #efefef;
}

.chat-discussions .room-info {
    text-align: right;
    padding-right: 10px;
}

.room-info .chat-date {
    font-size:11px;
    display: block;
    width: 120px;
}

.m-badge.hidden {
    display: none;
}

.m-messenger__messages {
    height: calc(100vh - 410px);
}